<!doctype html>
html
  head
    title Log-In
    script.
      if (window.opener) {
      window.opener.postMessage("popup-done", "*");
      setTimeout(function() { window.close() }, 0);
      }
  body
    | {{#if user}} 
    h1(style='text-align: center') Logging in...
    |  {{/if}}
