<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cipheak</title>
  <link href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap" rel="stylesheet">
  <link href="../public/css/styles.css" rel="stylesheet">
  <link href="../public/css/ghost.css" rel="stylesheet">
  <link href="../public/css/ghost-button.css" rel="stylesheet">
  <link href="../public/css/styles-index.css" rel="stylesheet">
</head>

<body>
  <script src="/js/login-page.js"></script>
  <header class="header"><a href="./index.html"><img class="header__img" src="../public/img/Cipheak-White.png" alt="logo Cipheak"></a>
    <nav class="Stroke">
      <ul class="header__text-right">
        <li class="header__nav-li"><a href="/"><span class="header__link-underline">BE A CIPHEAKER</span></a></li>
        <li class="header__nav-li"><a href="./about.html"><span class="header__link-underline">ABOUT US</span></a></li>
        <li class="header__nav-li"><a href="./whatis.html"><span class="header__link-underline">WHAT IS?</span></a></li>
      </ul>
    </nav>
    <div class="header__menu">
      <div class="header__menu--profile"><img src="../public/img/icons8-circled-user-64.png" alt="">
        <p>Cipheaker</p>
        <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="background">
    <section>
      <div class="container">
        <div class="frame">
          <div class="ghost ghost__left" role="img" alt="a small, smiling ghost">
            <div class="ghost__body"></div>
          </div>
          <div class="ghost ghost__right" role="img" alt="a bigger smiling ghost who is talking to the smaller ghost">
            <div class="ghost__body"></div>
          </div>
          <p class="ghost__bubble"><span class="ghost__text">People have created nearly 37,000 languages ​​in their history, but now, Cipheakers can create thousands or millions in just a few weeks</span></p>
        </div>
      </div>
    </section>
    <section class="main">
      <div>
        <h2 class="main__tittle">Create your own language</h2><a class="button__ghost" href="/auth/google">CREATE LANGUAGE</a>
      </div>
    </section>
    <script src="/js/login-page.js"></script>
  </section>
  <footer class="footer"><a href="/">Terms of use</a><a href="/">Privacy statement</a><a>® Cipheak, 2020</a></footer>
</body>

</html>