<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipheak</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/ghost.css" rel="stylesheet">
    <link href="css/ghost-button.css" rel="stylesheet">
    <link href="css/styles-index.css" rel="stylesheet">
  </head>
  <body>
    <script src="/js/login-page.js"></script>
    <header class="header"><img class="header__img" src="./img/Cipheak-White.png" alt="logo Cipheak">
      <nav class="Stroke">
        <ul class="header__text-right">
          <li class="header__nav-li"><a href="/"><span class="header__link-underline">BE A CIPHEAKER</span></a></li>
          <li class="header__nav-li"><a href="/"><span class="header__link-underline">ABOUT US</span></a></li>
        </ul>
      </nav>
      <div class="header__menu">
        <div class="header__menu--profile"><img src="img/icons8-circled-user-64.png" alt="">
          <p>Cipheaker</p>
          <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="background">
      <section>
        <div class="container">
          <div class="frame">
            <div class="ghost ghost__left" role="img" alt="a small, smiling ghost">
              <div class="ghost__body"></div>
            </div>
            <div class="ghost ghost__right" role="img" alt="a bigger smiling ghost who is talking to the smaller ghost">
              <div class="ghost__body"></div>
            </div>
            <p class="ghost__bubble"><span class="ghost__text">People have created nearly 37,000 languages ​​in their history, but now, Cipheakers can create thousands or millions in just a few weeks</span></p>
          </div>
        </div>
      </section>
      <section class="main">
        <div>
          <h2 class="main__tittle">Create your own language</h2><a class="button__ghost" href="/auth/google">CREATE LANGUAGE</a>
        </div>
      </section>
      <section>
        <h3>ABOUT US</h3>
        <div class="presentation">
          <p class="presentation__first">We are students at Holberton School, from Cohort 9. We decided to create Cipheak because from the beginning it was an amazing idea, the step by step seemed clear according to our knowledges and we three have a common element between us: we like challenges.</p>
          <p class="presentation__first">Cipheak is a language creator whose algorithm is bases on the esperanto's grammar structure. That structure allow us to create millions of languages. Go above, create your own language, try to learn it in less than two mounths, use it on your own way, be a Cipheaker</p>
        </div>
      </section>
      <section class="carousel">
        <div class="carousel__container">
          <div class="carousel--item"><img class="carousel--item__img" src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?cs=srgb&amp;dl=photo-of-brown-house-near-mountain-1424246.jpg&amp;fm=jpg" alt="">
            <div carousel--item__details="">
              <div><img src="./icons8-libro-80.png" alt="Cipheak Language information"><img src="./icons8-descargar-80.png" alt="Download manual"></div>
              <p class="carousel--item__details--title"> Título descriptivo</p>
              <p class="carousel--item__details--subtitle">Created by</p>
            </div>
          </div>
          <div class="carousel--item"><img class="carousel--item__img" src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?cs=srgb&amp;dl=photo-of-brown-house-near-mountain-1424246.jpg&amp;fm=jpg" alt="">
            <div carousel--item__details="">
              <div><img src="./icons8-libro-80.png" alt="Cipheak Language information"><img src="./icons8-descargar-80.png" alt="Download manual"></div>
              <p class="carousel--item__details--title"> Título descriptivo</p>
              <p class="carousel--item__details--subtitle">Created by</p>
            </div>
          </div>
          <div class="carousel--item"><img class="carousel--item__img" src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?cs=srgb&amp;dl=photo-of-brown-house-near-mountain-1424246.jpg&amp;fm=jpg" alt="">
            <div carousel--item__details="">
              <div><img src="./icons8-libro-80.png" alt="Cipheak Language information"><img src="./icons8-descargar-80.png" alt="Download manual"></div>
              <p class="carousel--item__details--title"> Título descriptivo</p>
              <p class="carousel--item__details--subtitle">Created by</p>
            </div>
          </div>
        </div>
      </section>
      <script src="/js/login-page.js"></script>
    </section>
    <footer class="footer"><a href="/">Terms of use</a><a href="/">Privacy statement</a><a>® Cipheak, 2020</a></footer>
  </body>
</html>