doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    script(src='js/jspdf.min.js')
    script(src='js/test.js')
  body
    h1 a
    button(onclick='generatorPDF()') Click
    script.
      let generatorPDF = () => {
      let doc = new jsPDF();
      doc.text(20, 20, 'Hello World');
      doc.text(20, 30, 'This is the pdf creator');
      doc.text(20, 50, foo())
      doc.save('document.pdf');
      }
