<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cipheak</title>
  <link href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap" rel="stylesheet">
  <link href="../public/css/styles.css" rel="stylesheet">
  <link href="../public/css/ghost.css" rel="stylesheet">
  <link href="../public/css/ghost-button.css" rel="stylesheet">
  <link href="../public/css/styles-index.css" rel="stylesheet">
</head>

<body>
  <script src="/js/login-page.js"></script>
  <header class="header"><a href="./index.html"><img class="header__img" src="../public/img/Cipheak-White.png" alt="logo Cipheak"></a>
    <nav class="Stroke">
      <ul class="header__text-right">
        <li class="header__nav-li"><a href="/"><span class="header__link-underline">BE A CIPHEAKER</span></a></li>
        <li class="header__nav-li"><a href="./about.html"><span class="header__link-underline">ABOUT US</span></a></li>
        <li class="header__nav-li"><a href="./whatis.html"><span class="header__link-underline">WHAT IS?</span></a></li>
      </ul>
    </nav>
    <div class="header__menu">
      <div class="header__menu--profile"><img src="../public/img/icons8-circled-user-64.png" alt="">
        <p>Cipheaker</p>
        <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="background">
    <section class="about">
      <img class="presentation__img--about" src="../public/img/Cipheak-White.png" alt="logo Cipheak">
      <img class="presentation__img--about" src="../public/img/Spreading.png" alt="Slogan">
      <div class="presentation">
          <p class="presentation__first">Cipheak is a language creator whose algorithm is bases on the esperanto's grammar structure. That structure allow us to create millions of languages. Go above, create your own language, try to learn it in less than two mounths, use it on your own way, be a Cipheaker</p>
      </div>
      <div>
        <img class="characteristics" src="../public/img/characteristics.png" alt="Cipheak characteristics">
      </div>
    </section>
  </section>
  <footer class="footer"><a href="/">Terms of use</a><a href="/">Privacy statement</a><a>® Cipheak, 2020</a></footer>
</body>

</html>