@font-face {
  font-family: 'marker_feltregular';
  src: url('../font/marker_felt-webfont.woff2') format('woff2'),
       url('../font/marker_felt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a.button__ghost {
    text-decoration: none;
    font-size: 150%;
    font-weight:600;
    color: #231651 ;
    border: 5px solid #231651;
    padding: 0.65em 1.7em;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.6s ease 0s;
    cursor: pointer;
    margin-top: 40px; 
    font-family: 'marker_feltregular';
    letter-spacing: 3px;
    
}

a.button__ghost:hover {
  background:#fff;
  color: #231651;
}